<!-- The layout aims to show the reviews of a product.
It is based on a interation of the list of reviews we get of a product.
It prints the name, stars, date and text (optionally). -->
{{ define "reviews" }}
<section class="reviews">
    <div class="container">
      <div class="row">
        <div class="col-xl-10 offset-xl-1">
          <h2>Reviews</h2>
          {{range . }}
          <div class="row">
            <div class="col-md-6">
              <h5>Name: {{ .Name }}</h5>
            </div>
            <div class="col-md-6">
              <h5>Stars: {{ .Star }}</h5>
            </div>
            <div class="col-md-6">
              <h5>Date: {{ .Date }}</h5>
            </div>
            <div class="col">
              <h5>Text: {{ .Text }}</h5>
            </div>
          </div>
          <hr class="solid">
          {{ end }}
        </div>
      </div>
    </div>
</section>
{{ end }}