<!-- The layout of a form. We can fill it out to add a review to a product.
/review is managed through handlers.go.
We hide the product_id. It is necessary to match the review to the right product. -->
{{ define "reviewsForm" }}
<section class="reviewsForm">
    <div class="container">
      <div class="row">
         <div class="col-xl-10 offset-xl-1">
            <hr />
            <br />
            <h2>Send us your review!</h2>
            <form action = "/review" method = "POST">
               <input type="hidden" name="product_id" value="{{ . }}" />
               Name : <br />
               <input type = "text" name = "name" />
               <br />
               Stars: <br />
               <input type = "text" name = "star" />
               <br />
               Text : <br />
               <textarea rows = "5" cols = "50" name = "text">Enter comment here...</textarea>
               <br />
               <input type="submit" value="Send" />
            </form>
            <br />
         </div>
      </div>
    </div>
</section>
{{ end }}